{
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "__LOG__": true,
    "TAG": true,
    "afterEach": true,
    "beforeEach": true,
    "btoa": true,
    "describe": true,
    "fdescribe": true,
    "expect": true,
    "it": true,
    "fit": true,
    "jasmine": true,
    "module": true,
    "navigator": true,
    "setTimeout": true,
    "spyOn": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [2, "never"],
    "no-param-reassign": 2,
    "object-curly-spacing": [2, "always"],
    "semi": 2,
    "space-infix-ops": 2,
    "spaced-comment": 0
  }
}
